.title {
  font-weight: bolder;
  font-size: 30px;
}

@font-face {
  font-family: "Segoe UI";
  src: local("Segoe UI"), url("/assets/fonts/v1.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Segoe UI";
  src: local("Segoe UI Bold"), url("/assets/fonts/v1bold.ttf") format("truetype");
  font-weight: bold;
  
}

h1, p, a {
  font-family: "Segoe UI";
}

.danger {
  color: red
}

.center {
  text-align: center;
}

.i {
  font-style: italic
}

.rainbow{
		animation: rainbow 5s linear;
		animation-iteration-count: infinite;
}

@keyframes rainbow{
		100%,0%{
			color: rgb(255,0,0);
		}
		8%{
			color: rgb(255,127,0);
		}
		16%{
			color: rgb(255,255,0);
		}
		25%{
			color: rgb(127,255,0);
		}
		33%{
			color: rgb(0,255,0);
		}
		41%{
			color: rgb(0,255,127);
		}
		50%{
			color: rgb(0,255,255);
		}
		58%{
			color: rgb(0,127,255);
		}
		66%{
			color: rgb(0,0,255);
		}
		75%{
			color: rgb(127,0,255);
		}
		83%{
			color: rgb(255,0,255);
		}
		91%{
			color: rgb(255,0,127);
		}
}


